.App {
  height: 100vh;
  text-align: center;
  word-break: break-word;
  display: flex;
  flex-direction: row;
}

/* User Input area */
#main {
  flex: 2;
  border-right: 2px black solid;
  background-color: #dedede;
}

.user-input-container {
  position: relative;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.button-container {
  text-align: right;
}

.error-container {
  text-align: right;
  color: red;
  max-width: 220px;
  font-size: 12px;
  margin-left: auto;
}

/* Results */
#results {
  flex: 3;
  display: flex;
}

.blur {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  background-color: rgba(0,0,0,0.3);
}

.loader {
  position: absolute;
  width: 60%;
  top: 50%;
}

.matches {
  flex: 2;
  border-right: 2px black solid;
  overflow: scroll;
}

.match-counts {
  flex: 1;
  overflow: scroll;
}

.match-row.row-header, .match-counts-row.row-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: black;
  color: white;
  font-weight: bold;
}

.match-row {
  background-color: white;
  display: flex;
  border-bottom: 1px solid #ccc;
}

.match-row > div:nth-child(1) {
  flex: 2;
}
.match-row > div:nth-child(2) {
  flex: 1;
}
.match-row > div:nth-child(3) {
  flex: 1;
}
.match-row > div:not(:last-child) {
  border-right: 1px solid #ccc;
}

.match-row.empty {
  display: block;
  text-align: center;
}

.match-counts-row {
  background-color: white;
  display: flex;
  border-bottom: 1px solid #ccc;
}

.match-counts-row > div:nth-child(1) {
  flex: 2;
}
.match-counts-row > div:nth-child(2) {
  flex: 1;
}
.match-counts-row > div:not(:last-child) {
  border-right: 1px solid #ccc;
}